:root {
  --form: #004040;
  --formOutline: #007a7a;
  --formHighlight:#b4ecee;
  --ButtonShadow: #3d0000;
  --Button: #7a0000;
  --easeTime: 0.3s;
}

.editable-image {
  position: relative;
  vertical-align:top;
  display: inline-block;
  height:75%;
  margin:1em 0em 1em 0em;
  padding:0.25em 0.25em;
}
.editable-image:first-child{
margin-left:0.4em;
}
.CropperWindow{
  width:80vw;
}
.promo-char{
  box-shadow: rgba(255, 215, 0, 0.17) 0px -5px 6px 0px inset, rgba(255, 215, 0, 0.15) 0px -6px 5px 0px inset, rgba(255, 215, 0, 0.1) 0px -16px 8px 0px inset, 0 2px 3px 0 rgb(255, 215, 0), 0 3px 10px 0 rgb(255, 215, 0) !important;
}

.promo-char button{
  padding:2px 5px 2px 5px;
  margin:2px auto 0 auto;
}

.mod-nsfw-button{
  font-size:0.55em;
  padding:0;
  margin:0;
}
.image-upload-button, .confirm-cancel-image-edits button {
  border:2px solid var(--formHighlight);
  color:white;
  background-color: var(--formOutline);
  font-size:16px;
  border-radius:3px;
  padding:0.1em 0.3em 0.1em 0.4em;
  filter: drop-shadow(1px 2px 2px black);
  -webkit-filter: drop-shadow(1px 2px 2px black);
  cursor: pointer;
}

.image-upload-button:hover, .confirm-cancel-image-edits button:hover {
filter: drop-shadow(0px 1px 1px black);
-webkit-filter: drop-shadow(0px 1px 1px black);
}
.confirm-cancel-image-edits{
  margin-bottom:0.4em;
}

.edit-button, .edit-button2, .delete-character-button, .activate-character-button, .import-button {
  filter: drop-shadow(1px 2px 2px black);
  -webkit-filter: drop-shadow(1px 2px 2px black);
  position: absolute;
  color: #007a7a;
  background: none;
  padding-left:5px;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  top: 4%; /* Adjust this value to change the distance from the bottom */
  left: 3%; /* Adjust this value to change the distance from the right */
}
.edit-button2{
    top:20%;
    left:1%;
    font-size:1.3em;
    color: #007a7a;
}
  .delete-character-button{
    top:72%;
    color: grey;
  }
.activate-character-button{
  left:2%;
  top:49%;
}
.import-button {
  left:2%;
  top:35%;
}

.tooltiptext {
  visibility: hidden;
  
  background-color: #555555cc;
  font-size:11px;
  color: var(--formHighlight);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
  margin-left: 0px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.toolstiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.edit-button:hover .tooltiptext, .edit-button2:hover .tooltiptext, .delete-character-button:hover .tooltiptext, .activate-character-button:hover .tooltiptext, .import-button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.import-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}


.import-modal-window {
  background-color: white;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  padding: 20px;
}
  .adventure {
  border-bottom: 2px solid var(--formOutline);
  color: var(--formHighlight);
}
  .adventure p {
    padding:5px 0;
    padding-left: 0.5em;
    margin:0;
  }

.character-container {
  padding-left: 15px;
}

.character-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  margin: 2px 0;
  color: var(--formHighlight);
}
.adventure:hover{
  color:white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.character-details p {
  margin: 0;
  padding: 1px 0;
  
}
.character-details:hover{
  color:white;
}
  .scrollable-inset{
    width:94%;
    overflow-y: scroll;
    text-align:left;
    background:var(--form);
    scrollbar-width: thin;
    border:2px solid var(--formOutline);
  }


.import-character-button {
  padding: 5px;
  background-color: var(--formOutline);
  color: white;
  border: 2px solid var(--formHighlight);
  border-radius: 5px;
  cursor: pointer;
}
.import-popup{
  padding:0.25em;
  height:40%;
  z-index: 100;
}
  .close-button{
    position: absolute;
  right: 0%;
  top: 0%;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.edit-popup,.import-popup {
  position: fixed;
  color:black;
  text-align:center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18em;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.99);
  padding: 1em;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space:pre-line;
  z-index:10;
}
.style-select{
  margin-bottom:0.5em
}

.edit-popup label {
  color:black;
  font-size:1em;
}

.edit-popup textarea {
  width: 100%;
  height: 8em;
  resize: none;
  margin-bottom: 10px;
}

.edit-popup button {
  margin: 5px;
}
.add-icon{
    filter: drop-shadow(1px 2px 1px black);

}
.add-icon-button{
  display:inline-block;
  position:relative;
  background: #004040;
  color:#007a7a;
  font-size:2em;
  justify:center;
  min-height:2em;
  padding:0.2em;
  align:center;
  vertical-align:center;
  margin:auto;
  margin-right:0.5em;
  margin-left:0.3em;
  border:none;
  border-radius:20px;
  height:50%;
  box-shadow: 0 4px 8px 0 #007a7a, 0 6px 20px 0 #007a7a;
   box-shadow: rgba(0, 122, 122, 0.17) 0px -5px 6px 0px inset, rgba(0, 122, 122, 0.15) 0px -6px 5px 0px inset, rgba(0, 122, 122, 0.1) 0px -16px 8px 0px inset, 0 2px 3px 0 var(--formOutline), 0 3px 10px 0 var(--formOutline);
}
.add-icon-button:hover{
  box-shadow: 0 4px 4px 0 #007a7a, 0 6px 10px 0 #007a7a;
}
.add-icon-div{
  display:inline-flex;
  justify-children:center;
  position:relative;
  text-align:center;
  justify:center;
  height:40vw;
}
.horizontal-row .add-icon-div-creator{
position:relative;
  display:flex;
  height: 100%;
  align-content:center;
  justify-content:center;
  text-align:center;
}
.add-icon-div-creator .add-icon-button{
  height:100%;
  margin-top:1.6em;
}
 .horizontal-row .editable-image{
   margin:0;
 }

/* DESKTOP STYLING BEGINS HERE: */
@media only screen and (min-width: 768px) {
  .editable-image {
  position: relative;
  display: inline-block;
  width:75%;
  height:auto;
  box-sizing: border-box;
  margin:1em 1em 1em 1em;
  max-width:100%;
  padding: 0.25em 0.25em;
  
}
  div[id="avatars"] .editable-image {
    margin:0em 0em 0.5em 0em;
  }

  .horizontal-row .editable-image{
    max-width:min(350px,20vw);
    min-width:max(200px, 32%);
    margin: 0 0px; /* This will be your "higher" interior margin */
  }

.import-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.import-modal-window {
  background-color: white;
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  padding: 20px;
}
  .adventure {
  border-bottom: 2px solid var(--formOutline);
  color: var(--formHighlight);
}
  .adventure p {
    padding:2px;
    padding-left: 0.5em;
    margin:0;
  }

.character-container {
  padding-left: 15px;
}

.character-details {
  display: flex;
  padding:1px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  margin: 2px 0;
  color: var(--formHighlight);

}
.CropperWindow{
  width:40vw;
}
  
.character-details p {
  margin: 0;
  padding: 1px 0;
}
  .scrollable-inset{
    width:94%;
    overflow-y: scroll;
    text-align:left;
    background:var(--form);
    scrollbar-width: thin;
    border:2px solid var(--formOutline);
  }

.import-character-button {
  padding: 2px;
  background-color: var(--formOutline);
  color: white;
  border: 2px solid var(--formHighlight);
  border-radius: 5px;
  cursor: pointer;
}

  .import-character-button:hover{
  box-shadow: 0 1px 2px 0 var(--formHighlight), 0 2px 4px 0 var(--formHighlight);
  }
  

  .close-button{
    position: absolute;
  right: 0%;
  top: 0%;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
  
  .edit-popup, .import-popup {
  position: absolute;
  color:black;
  text-align:center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18em;
  max-width: 90%;
  background: rgba(255, 255, 255, 0.9);
  padding: 1em;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index:10;
}
  .import-popup{
  padding:0.5em;
  padding-top:0;
  height:90%;
  z-index: 100;
}
  .add-icon-div{
  position:relative;
  display:block;
  height: 8em;
  text-align:center;
  width:19em;
  margin:auto;
  margin-top:2px;
  margin-bottom:1em;
  
}
  .add-icon-div-creator{
     display: flex;
  align-items: center;
  justify-content: center;
  }
  
  .add-icon-button{
  display:inline-block;
  position:relative;
  background: #004040;
  color:#007a7a;
  font-size:2em;
  justify:center;
    height:2em;
    width:4rem;
  align:top;
  margin: 1em 0em 1em 0.5em;
  border:none;
  border-radius:20px;
  box-shadow: 0 4px 8px 0 #007a7a, 0 6px 20px 0 #007a7a;
}
.edit-button, .edit-button2,.delete-character-button, .activate-character-button, .import-button{
  filter: drop-shadow(1px 2px 3px black);
  position: absolute;
  color: #007a7a;
  background: none;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
  top: 7%; /* Adjust this value to change the distance from the bottom */
  left: 6%; /* Adjust this value to change the distance from the right */
}

  .edit-button2{
  top:17%;
    left:5%;
    font-size:1.3em;
    color: #007a7a;
}
  .delete-character-button{
    top:70%;
    color: grey;
  }
  .activate-character-button{
    top:38.5%;
  }
  .import-button{
    top:28%;
    left:6%;
  }

}