.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  
  
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  color: white;
}
