.stop-stream-button{
  height:80%;
  width:auto;
  margin:auto;
  padding:5px;
  background: transparent;
  background-color:#191919;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: var(--formOutline);
  border: 1px solid var(--formOutline);
  transition: visible 0.5s;
  }

  .stop-stream-button:hover {
    background-color: #black; /* Darker shade on hover for feedback */
  }

.stop-stream-div{
  position:relative;
  height:100%;
}